{% extends "application/base.html" %}
  
  {% block title %} List view {%endblock title%}
   

{% block content %} 
<h1>Hello World !</h1>
{% for application in application_list %}

<ul>
  <a href="{% url 'application:details' application.id %}">{{application.title}}</a>
</ul>

{% empty %}
<h2>No names in the list</h2>

{% endfor %} {% endblock content%}
   
  
