{% extends "application/base.html" %}
  
  {% block title %} application details {%endblock title%}
   

{% block content %} 

<h2>{{application.title }}</h2>
<pre>
    {{application.body}}
</pre>

{% endblock content%}
   